#n02{
    margin-right: 0.7vw;
}

#n12{
    margin-right: 0.7vw;
}

#n22{
    margin-right: 0.7vw;
}

#n32{
    margin-right: 0.7vw;
}

#n42{
    margin-right: 0.7vw;
}

#n52{
    margin-right: 0.7vw;
}

#n62{
    margin-right: 0.7vw;
}

#n72{
    margin-right: 0.7vw;
}

#n82{
    margin-right: 0.7vw;
}


#n05{
    margin-right: 0.7vw;
}

#n15{
    margin-right: 0.7vw;
}

#n25{
    margin-right: 0.7vw;
}

#n35{
    margin-right: 0.7vw;
}

#n45{
    margin-right: 0.7vw;
}

#n55{
    margin-right: 0.7vw;
}

#n65{
    margin-right: 0.7vw;
}

#n75{
    margin-right: 0.7vw;
}

#n85{
    margin-right: 0.7vw;
}
